package com.quakearts.webapp.beans;

#set($stringElements=[])#foreach($element in $beanModel.beanElements)#if($element.string)#set($ignoreadd=${stringElements.add($element)})#end#end
import java.io.Serializable;
import java.util.List;
import java.util.ArrayList;
#if(!$stringElements.isEmpty())import javax.faces.event.AjaxBehaviorEvent;
#end
import ${beanModel.beanClass.canonicalName};

public class ${beanModel.beanClass.simpleName}DropdownHelper implements Serializable{
	private transient ${beanModel.beanClass.simpleName}Finder finder = new ${beanModel.beanClass.simpleName}Finder();
	
	private List<${beanModel.beanClass.simpleName}> foundItems;
#if($stringElements.isEmpty())	
#end	public List<${beanModel.beanClass.simpleName}> getFoundItems() {
#if($stringElements.isEmpty())		if(foundItems == null)
			foundItems = finder.getAll();
#end
    		return foundItems;
    }
    	
	private ${beanModel.beanClass.simpleName} ${util.reverseCamelCase($beanModel.beanClass.simpleName)};
	
	public ${beanModel.beanClass.simpleName} get${beanModel.beanClass.simpleName}(){
		if(${util.reverseCamelCase($beanModel.beanClass.simpleName)} == null){
			${util.reverseCamelCase($beanModel.beanClass.simpleName)} = new ${beanModel.beanClass.simpleName}();
			addToFoundItemsList(${util.reverseCamelCase($beanModel.beanClass.simpleName)});
		}
		
		return ${util.reverseCamelCase($beanModel.beanClass.simpleName)};
	}
	
	private boolean inCreateMode;
	
	public boolean isInCreateMode() {
		return inCreateMode;
	}

	public void setInCreateMode(boolean inCreateMode) {
		this.inCreateMode = inCreateMode;
	}

	public void addToFoundItemsList(${beanModel.beanClass.simpleName} ${beanModel.name}) {
		if(foundItems==null)
			foundItems = new ArrayList<>();
		
		foundItems.add(${beanModel.name});
	}
	
#if(!$stringElements.isEmpty())
	private String searchText;
	
	public String getSearchText() {
		return searchText;
	}
	
	public void setSearchText(String searchText) {
		this.searchText = searchText;
	}
	
	public void filterItems(AjaxBehaviorEvent event){
		if(searchText !=null && !searchText.trim().isEmpty()){
			foundItems = finder.filterByText(searchText);
		}
	}
#end
}