<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://quakearts.com/2.0/boot">
	<h:head>
		<title><ui:insert name="title">$defaulttitle</ui:insert></title>
#foreach($cssFile in $cssFiles)
		<link href="$cssFile" rel="stylesheet" type="text/css"></link>
#end
#foreach($jsFile in $jsFiles)
		<script type="text/javascript" src="$jsFile"></script>
#end
	<ui:insert name="head" />
    </h:head>
    
    <h:body>
		<b:container fluid="true" id="container">
			<b:row>
				<b:navbar fluid="true" responsive="true" type="default">
					<f:facet name="header">
						<a class="navbar-brand" href="#">Site Name</a>
					</f:facet>
					<b:nav>
						<ui:insert name="topmenu" />
					</b:nav>
				<ui:insert name="header" />
	        	</b:navbar>
	        </b:row>
	        <b:row>
	        	<b:column size="2">
	        		<b:nav type="pills" stacked="true">
		    			<ui:insert name="sidemenu" />
		    		</b:nav>
		    	</b:column>
	        	<b:column size="10">
	        	<ui:insert name="content" />
		    	</b:column>
	        </b:row>
			<b:row>
				<footer>
	      		<ui:insert name="footer" />
	      		</footer>
	      	</b:row>
      	</b:container>
    </h:body>
</html>
