<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Code Generators"
            id="com.quakearts.codegenerators">
      </category>
      <wizard
            category="com.quakearts.codegenerators"
            class="com.quakearts.tools.data.wizard.ProcedureWrapperWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/databases.png"
            id="com.quakearts.tools.data.wizards.procedurewrapperwizard"
            name="Procedure Wrapper Class Generator">
      </wizard>
      <wizard
            category="com.quakearts.codegenerators"
            class="com.quakearts.tools.data.wizard.ProcedureResultsWizard"
            icon="icons/text_columns.png"
            id="com.quakearts.tools.data.wizards.procedureresultswizard"
            name="New Procedure Result Class">
      </wizard>
      <wizard
            category="com.quakearts.codegenerators"
            class="com.quakearts.tools.web.wizard.ScaffoldingWizard"
            icon="icons/application_cascade.png"
            id="com.quakearts.tools.data.wizards.scaffoldingswizard"
            name="New Bean Application">
      </wizard>      
   </extension>

</plugin>
