Scaffolding ID:
$scaffolding.id
Bean Models:
#foreach($beanModel in $beanModels)
$beanModel.name
#end
Name Model Mapping:
$nameModelMapping.get('testBean1').name
$nameModelMapping.get('testBean2').name
$nameModelMapping.get('testBean3').name
Class Model Mapping:
$classModelMapping.get('com.quakearts.test.hibernate.TestBean1').name
$classModelMapping.get('com.quakearts.test.hibernate.TestBean2').name
$classModelMapping.get('com.quakearts.test.hibernate.TestBean3').name
Utils:
#foreach($beanModel in $beanModels)
camelCase: $util.camelCase($beanModel.name)
reverseCamelCase: $util.reverseCamelCase($beanModel.beanClass.simpleName)
splitCamelCase: $util.splitCamelCase($beanModel.name)
verifyMethod :$util.verifyMethod($beanModel,'getClass')
verifyAnnotation: $util.verifyAnnotation($beanModel,'javax.persistence.Entity')
verifyChildOf:$util.verifyChildOf($beanModel,'java.lang.Object')

Elements of Type String:
#foreach($element in $util.findElementsOfType($beanModel, 'java.lang.String'))
$element.value
#end#end

Enum Imports
#foreach($import in $util.getEnumImports($beanModels))
$import
#end

Enums
#foreach($import in $util.getEnums($beanModels))
$import
#end